*.class

*.jar
*.iml
*.txt
**/.idea/*
.classpath
.project
.settings
.gradle/
.target/
.idea/libraries/*
.idea/workspace.xml
.idea/gradle.xml
.idea/*
.allure/*
cache/
ehcache-integration/
src/test/resources/output/
src/integration-test/resources/log/
src/integration-test/resources/mocks/
src/integration-test/resources/elastic*
src/integration-test/resources/*.json

*.pyc
*.bin

target/

.checkstyle

/bin/
**/log/*
**/logs/*
/build/
/data/
/out/
.gradle/
/gradle-app.setting
